# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [15]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [16]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

last_three = a[-3:]
print(last_three)

[4, 5, 6]

In [17]:
# create a list of numbers from 1 to 20
nums1_20 = list(range(1,21))
print(nums1_20)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
nums1_100 = list(range(2,101))
print(nums1_100[::2])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [20]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def twonums(num1, num2):
    print(num1 / num2)

twonums(4, 2)

2.0

In [21]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number



for i in range (1, 31):
    if i % 3 == 0 and i % 5 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

ahmo_dictionary = {"Gyro":9.00, "Burger":9.00, "Greek Salad":8.00, "Philly Steak":10.00}

In [3]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
starbucks_data = pd.read_csv('starbucks.csv')
print(starbucks_data)

NameError: name 'pd' is not defined

In [ ]:
# select all rows with more than and including 400 calories

high_calories = starbucks_data[starbucks_data["calories"] >= 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

vitc_over_iron = starbucks_data[starbucks_data["vitamin c"] > starbucks_data["iron"]]

In [ ]:
# create a new column containing the caffeine per calories of each drink

starbucks_data["Caffeine per Calorie"] = starbucks_data["Caffeine"] / starbucks_data["Calories"]

In [ ]:
# what is the average calorie across all items?
starbucks_data["calories"].mean()

In [ ]:
# how many different categories of beverages are there?
print(starbucks_data["beverage"].unique())

In [31]:
# what is the average # calories for each beverage category?
mfrs = starbucks_data.groupby("beverage")
mfrs["calories"].mean()

NameError: name 'starbucks_data' is not defined